body{
    background-color: cornflowerblue;
    font-family: cursive ;
    margin: 0;
    padding: 20px;
    border: 20px solid black;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: black;
    text-align: left;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    padding: 20px;
}
#footer {
    background-color:cornflowerblue;
    color:black;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header {
    background-color: cyan;
    color: black;
    padding: 10px;
    text-align: center;
}